/* Stylization for header
  
  Components:
  - Main name display
  - Navigational components
  - Consistent across entire site
*/

.header {
  // Clear margin around header
  margin: 0em;
}

.name-display {
    // Style for name display
    font-size: 3em;
    font-weight: 100;
    text-align: center;
    margin: 0em;
    border-bottom: solid 1px black;
}

.nav-bar {
  // Remove bullets and browser default settings
  list-style-type: none;
  margin: 0.25em 0em;
  padding: 0em;
  text-align: center;

  .nav-element {
    // Make a horizontal unordered list
    display: inline;
    margin: 0em 0.5em;
    font-size: 1.25em;

    &:hover {
      font-weight: 900;
      cursor: pointer;
    }

    &.active {
      font-weight: 900;
    }
  }

}
